body {
  font-family: arial, sans-serif;
  font-size: 1em;
  margin:0;
  background-color:#F1F1F1;
}

@media (max-width:979px) {
	body {
		padding-top: 0px;
	}
}

#flashes {
  position: fixed;
  top: 5px;
  z-index: 999;
  margin: auto;
}

#navbar {
  position: fixed;
  top:0px;
  margin:auto;
  height:80px;
  float: left;
  background-color:#333;
  width: 100%;
  padding-left:20px;
}

#content {
  margin-top:60px;
  padding:20px;
  background-color:#FFF;
}

#innernav {
	padding:5px;
	background-color:#F1F1F1;
	margin-top:10px;
}

th {
  border: 2px solid #ccc;
}

h1 {
	font-size:1.5em;
	font-weight:500px;
}

.smallred {
	font-size: .7em;
	color:#900000;
}

a {
	color:#0067B2;
	text-decoration:none;
}

