#loader {
  position:fixed;
  top:30%;
  left:50%;
  color:#000;
  background-color:#fff;
  width:150px;
  height:80px;
  margin-top:-20px;
  margin-left:-75px;
  text-align:center;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:2px #ccc solid;
  padding:50px;
}

i.screenshot-preview {
  cursor: pointer;
}

ul#left_nav {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

#first_time_container {
  font-size: 17px;
}

.first_time_steps li {
  line-height: 1.4em;
}

.share-buttons{float: right; margin-top:7px;}.share-buttons>iframe{vertical-align:top;}.twitter-share-button{width:80px!important;}

#save_page_selectors {
  float: right;
  width: 200px;
  height: 35px;
  font-size: 18px;
}
