{% extends 'base.html' %}

{% block content %}
<!-- content goes here -->
<div class="row">
<div class="span7" style="line-height:30px; font-size:18px;">
<p class="strong-green">watchtower is actionable competitive intelligence</p>
<p>
Watchtower is a platform for monitoring changes to your competitor's website and product. Using watchtower is simple and with a few clicks, you can start setting up trackers to monitor when sites change their design, start doing A/B tests, or customize their content to specific users. You do this in a point and click interface so anyone can use this tool to keep track of and respond to the competition regardless of technical ability.
<p>
Watchtower was built at the Launch 2013 by a team of folks from Room 77.
</p>
<p>
Cheers,
</p>
<p>
team infinite squirrel
</p>
</div>
<div class="span3 offset1">
<img src="/static/images/watchtowerabout.png">
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
