{% extends 'base.html' %}

{% block content %}
<!-- content goes here -->
<div class="row">
<div class="span12" style="padding-left:10px; color: green;">
<h2>Actionable Competitive Intelligence with Watchtower</h2>
</div>
</div>
<div class="row">
<div class="span7" style="line-height:30px; font-size:18px; padding-left:10px;">
<p>
Watchtower is a platform for monitoring changes to your competition's website and products. With a few clicks, you can set up trackers to monitor changes to site look and feel, content, and pricing.
</p>
<p>
Using cloud-based virtual displays, Watchtower detects A/B tests, multivariate tests, and other forms of customer segmentation.  We also find price changes and other content changes.
</p>
<p>
Watchtower was originally built at the 2013 LAUNCH hackathon.
</p>
</div>
<div class="span3 offset1">
<img src="/static/images/watchtowerabout.png">
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
