<!DOCTYPE html>
<html lang="en" ng-app="WatchtowerApp">
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- fav and touch icons
    <link rel="shortcut icon" href="static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
    -->
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">
          watchtower
          </a>
          <ul class="nav">
            <li class="active">
              <a href="#">
                Home
              </a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              {% if not user %}
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <form action="/login" method=post>
                  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
                  <p>
                    OpenID:
                    <input type=text name=openid size=30>
                    <input type=submit value="Sign in">
                    <input type=hidden name=next value="{{ next }}">
                </form>
              </div>
              {% else %}
              <p>
                Signed in
              </p>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
