<!DOCTYPE html>
<html lang="en" ng-app="WatchtowerApp">
  <head>
    <meta charset="utf-8">
    <title>Competitive Monitoring and Intelligence for your Business - Watchtower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    <!-- fav and touch icons
         <link rel="shortcut icon" href="static/ico/favicon.ico">
         <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
         <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
         <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
         <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
         -->
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flashes">
          {% for message in messages %}
            <p class=alert>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">
            <img src="/static/images/watchtower_logo.png">
          </a>
          <ul class="nav">
            <li class="active">
              <a href="/">
                Home
              </a>
            </li>
            <li class="active">
              <a href="/about">
                about watchtower
              </a>
            </li>
            {% if user %}
            <li class="active">
              <a href="/profile">
                my profile
              </a>
            </li>
            {% endif %}
          </ul>
          <div class="btn-group pull-right" style="margin-top:10px;">
            {% if not g.user %}
            <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
                <p>
                  You have no choice but to...
                  <form action="{{url_for('login', openid='https://www.google.com/accounts/o8/id') }}" method=post>
                  <button type=submit class=btn>
                    <img style="width: 300px; height: auto;" src="https://developers.google.com/accounts/images/sign-in-with-google.png" /></button>
                  <input type=hidden name=next value="{{next}}">
                </form>
            </ul>
            {% else %}
            <p>
              <form action="/logout" method="get">
                <button type=submit value="Sign out" class="btn" href="/">Sign Out</button>
              </form>
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top:80px;">
      {% block content %}{% endblock %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script src="/static/js/app.js"></script>
      {% block scripts %}{% endblock %}

      <div id="loader" style="display:none;">
        <p style="text-align: center;"><img src="/static/images/loader.gif"/> </p>
        <p>
          Please wait while we process your request...
        </p>
      </div>
    </div>
  </body>
</html>
