<!DOCTYPE html>
<html lang="en" ng-app="WatchtowerApp">
  <head>
    <meta charset="utf-8">
    <title>Competitive Monitoring and Intelligence - Watchtower {% block titleappend %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- styles -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% block css %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
        </script>
        <![endif]-->
    <!-- fav and touch icons
         <link rel="shortcut icon" href="static/ico/favicon.ico">
         <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
         <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
         <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
         <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
         -->
  </head>
  <body>
    <div class="navbar navbar-inverse" style="height:64px">
      <div class="navbar-inner">
          <a class="brand" href="/">
            <img src="/static/images/watchtower_logo.png">
          </a>
          <ul class="nav">
            <li>
              <a href="/">
                Home
              </a>
            </li>
            <li>
              <a href="/dashboard">
                Dashboard
              </a>
            </li>
            <li>
              <a href="/about">
                About
              </a>
            </li>
            <li>
              <a href="/pricing">
                Pricing
              </a>
            </li>
            {% if g.user %}
            <li>
              <a href="/profile">
                Profile
              </a>
            </li>
            {% endif %}
          </ul>
          {% if not g.user %}
            <div class="btn-group pull-right" style="margin-top:7px;">
              <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown">Sign Up/Sign In <strong class="caret"></strong></a>
              <ul class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                  {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
                  <p>
                    <form id="login_form" action="{{url_for('login')}}" method="post" class="form">
                      <dl>
                        <dd><input type="text" name=email placeholder="email">
                        <dd><input name="password" type="password" placeholder="password">
                        <dd><input type="submit" class="btn" value="Sign up/Sign in">
                      </dl>
                    </form>
                    Or...
                    <form action="{{url_for('login', openid='https://www.google.com/accounts/o8/id') }}" method=post>
                    <button type=submit class=btn>
                      <img style="width: 300px; height: auto;" src="https://developers.google.com/accounts/images/sign-in-with-google.png" /></button>
                    <input type=hidden name=next value="{{next}}">
                  </form>
              </ul>
            </div>
          {% else %}
              <div class="btn-group pull-right" style="margin-top:-3px">
              <p>
                <form action="/logout" method="get">
                  <button type=submit value="Sign out" class="btn" href="/">Sign Out</button>
                </form>
              </p>
              </div>
          {% endif %}
        </div>
    </div>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id="flashes">
            {% for message in messages %}
              <p class=alert>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}

      <div id="loader" style="display:none;">
        <p style="text-align: center;"><img src="/static/images/loader.gif"/> </p>
        <p>
          Please wait while we process your request...
        </p>
      </div>
    </div>

<!-- scripts -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38986257-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% block scripts %}{% endblock %}

  </body>
</html>
