{% extends 'base.html' %}

{% block content %}
  <h2> Create Profile </h2>
  <p> Since this is the first time you've logged in, we need a little more information from you. </p>
  <form action="/create_profile" method=post>
    <dl>
      <dt> Name:
      <dd><input type=text name=name size=30 value="{{name}}">
      <dt> Email:
      <dd><input type=text name=email size=30 value="{{email}}">
      <input type=submit value="Create" />
      <input type=hidden name=next value="{{next}}"/>
  </form>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
