{% extends 'base.html' %}

{% block content %}
<div class="row span12">
  <a href="/page/new" class="btn btn-primary">New alert</a>
</div>
{% if pages %}
<div class="row span12">
  <table class="table table-bordered table-striped" style="margin-top:20px;">
    <tbody>
      <tr>
        <th>Page</th>
        <th>New changes</th>
        <th></th>
        <th></th>
      </tr>
      {% for page in pages %}
      <tr>
        <td><a href="/page/{{ page.id }}">{{ page.name }}</a></td>
        <td>{{ page.num_new_changes }}</td>
        <td><a href=/page/{{ page.id }}/edit>edit</a></td>
        <td><a href=/page/{{ page.id }}/delete>delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="row span12">
</br>
<p class="alert alert-error">
  No alerts have been created!
</p>
</div>
<div class="row span12">
  <p class="alert alert-info">
    Click "New alert" to start monitoring pages.
  </p>
</div>
</div>
{% endif %}
{% if pages %}
<div class="row span12">
  <h2>Social News on Sites You're Tracking</h2>
  <div class="accordion" id="news">
  </div>
<div>
{% endif %}
<div class="row span12">
  <div id="twitter_container">
    <ul id="twitter">
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/dashboard.js"></script>

<script type="text/html" id="news_page_tmpl">
  <div class="accordion-group">
    <div class="accordion-heading" style="background-color: #f9f9f9">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#news" href="#collapse<%=page_id%>">
        <%=page%>
      </a>
    </div>
    <div id="collapse<%=page_id%>" class="accordion-body collapse in">
      <%=inner%>
    </div>
  </div>
</script>

<script type="text/html" id="news_story_tmpl">
  <div class="accordion-inner">
    <a href="<%=link%>"><%=headline%></a>
  </div>
</script>
{% endblock %}

