{% extends 'base.html' %}

{% block content %}
<div class="row span12">
<a href="/page/new" class="btn btn-primary">New alert</a>
</div>
{% if pages %}
<div class="row span12">
<table class="table table-striped" style="margin-top:20px;">
  <tbody>
    <tr>
      <th>Page</th>
      <th>New changes</th>
      <th></th>
      <th></th>
    </tr>
    {% for page in pages %}
      <tr>
        <td><a href="/page/{{ page.id }}">{{ page.name }}</a></td>
        <td>{{ page.num_new_changes  }}</td>
        <td><a href=/page/{{ page.id }}/edit>edit</a></td>
        <td><a href=/page/{{ page.id }}/delete>delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<div class="row span12">
</br>
<p class="alert alert-error">
No alerts have been created!
</p>
</div>
<div class="row span12">
<p class="alert alert-info">
Click "New alert" to start monitoring pages.
</p>
</div>
</div>
{% endif %}

<div id=feed>
</div>

{% block scripts %}
<script src="/static/js/dashboard.js"</script>
{% endblock %}

{% endblock %}
