{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="span3">
    <ul id="left_nav" class="nav nav-list affix" style="border: 1px dashed #ccc">
      <li class="nav-header">Control Panel</li>
      <li><a href="/page/new"><i class="icon-plus"></i> New Alert</a></li>
      <li><a href="#overview"><i class="icon-th-list"></i> Overview</a></li>
      <li><a href="#recent_changes"><i class="icon-eye-open"></i> Recent Changes</a></li>
      <li><a href="#social_news"><i class="icon-share"></i> Social News</a></li>
    </ul>
  </div>
  <div class="span9">
{% if pages %}
  <p class="alert alert-info" style="margin-top:15px">
  Sorry, Watchtower is in closed beta and free accounts are NOT being processed for monitoring.  We'll notify you when scans have resumed.
  </p>

  <h3 id="overview">Overview</h3>
  <a href="/page/new" class="btn btn-primary"><i class="icon-plus"></i> New alert</a>
  <table class="table table-bordered table-striped" style="margin-top:20px;">
    <tbody>
      <tr>
        <th>Page</th>
        <th>New versions</th>
        <th style="width:5px"></th>
        <th style="width:5px"></th>
      </tr>
      {% for page in pages %}
        <tr>
          <td><a href="/page/{{ page.id }}">{{ page.name }}</a></td>
          <td>{{ page.num_new_changes }}</td>
          <td><a href=/page/{{ page.id }}/edit><i class="icon-edit"></i> </a></td>
          <td><a href=/page/{{ page.id }}/delete><i class="icon-remove"></i> </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <h3 id="recent_changes">Recent Changes</h3>
  {% if all_versions %}
    <table class="table table-bordered table-striped">
    {% for version in all_versions[:25] %}
      <tr>
      {% set page = (version|page_from_version) %}
      {% set time = localize_with_tz(version.when, user.timezone) %}

      {% if time != prevtime %}
        <td style="width: 150px">
          <abbr class="timeago" data-toggle="tooltip" title="{{time.isoformat()}}">{{time.strftime('%b %d %I:%m %p %Z')}}</abbr>
        </td>
        {% set prevtime = time %}
      {% else %}
        <td></td>
      {% endif %}

      <td><em>{{ (version|element_from_version).name }}</em> on <strong><a href="/page/{{ page.id }}">{{ page.name }}</a></strong> changed <i class="screenshot-preview icon-zoom-in" data-screenshot-url="{{ version.screenshot }}"></i></td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    There's nothing here yet.
  {% endif %}
  {% include 'blocks/social.html' %}
{% else %}
  <h3>First time?</h3>
  <div id="first_time_container">
    <p>
    Getting started is simple!
    </p>
    <ol class="first_time_steps">
      <li>Click <a href="/page/new"><i class="icon-plus"></i> New Alert</a> to add a page.</li>
      <li>Select the areas of the page you want to track.</li>
      <li>Watchtower will track and notify you of changes.</li>
    </ol>
  </div>

{% endif %}
</div> {# end div right span #}
</div> {# end div row #}

{# {% include 'blocks/social.html' %} #}

<div id="lightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-header'>
    <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
  </div>
  <div class='lightbox-content'>
    <img id="lightbox_image" src="/static/images/loader.gif">
    <!--<div class="lightbox-caption"><p id="lightbox_caption"></p></div>-->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.timeago.js"></script>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/bootstrap-lightbox.js"></script>

<script type="text/html" id="news_page_tmpl">
  <div class="accordion-group">
    <div class="accordion-heading" style="background-color: #f9f9f9>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="<%=parent%>" href="#collapse<%=page_id%>">
        <%=page%>
      </a>
    </div>
    <div id="collapse<%=page_id%>" class="accordion-body collapse in">
      <%=inner%>
    </div>
  </div>
</script>

<script type="text/html" id="news_story_tmpl">
  <div class="accordion-inner">
    <a href="<%=link%>"><%=headline%></a>
  </div>
</script>
<script type="text/html" id="twitter_tmpl">
  <div class="accordion-inner">
    <p><%=text%></p>
  </div>
</script>
{% endblock %}

{% block css %}
<link href="/static/css/bootstrap-lightbox.min.css" rel="stylesheet">
{% endblock %}
