{% extends 'base.html' %}

{% block content %}
  <h2> Edit profile </h2>
  <form action="" method=post>
    <dl>
      <dt> Name:
      <dd>{{form.name}}
      <dt> Email:
      <dd>{{form.email}}
      <input type=submit value="Go on" />
      <input type=hidden name=next value="{{next}}"/>
    <dl>
    <span> Reddit feed of pages </span>
    {% for item in reddit %}
      {% for (url,text) in reddit[item] %}
      <dt><a href={{url}} target="_blank">{{text}}</a>
      {%endfor %}
    {% endfor %}
    <span> Twitter feed of pages </span>
    {% for tweet in feed %}
      <dt> Page:
      <dd> {{ tweet['user']['screen_name'] }}
      <dt> Tweet:
      <dd> {{tweet['text'] }}
    {% endfor %}
    <span> Facebook feed of pages </span>
    <dt> Facebook
    <dd> {{ fb }}
  </form>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
