{% extends 'base.html' %}

{% block content %}
  <h2> Edit profile </h2>
    <dl>
      <dt> Name:
      <dd>{{form.name}}
      <dt> Email:
      <dd>{{form.email}}
      <input type=hidden name=next value="{{next}}"/>
    <dl>
    {% if reddit %}
      <span> Reddit feed of pages </span>
      {% for item in reddit %}
        {% for (url,text) in reddit[item] %}
        <dt><a href={{url}} target="_blank">{{text}}</a>
        {%endfor %}
      {% endfor %}
    {% endif %}
    {% if feed %}
    <form action="/profile" method=post>
    <input name=addtweets>
    <button type=submit action="" class=btn>Add Twitter</button>
    </form>
    <span> Twitter feed of pages </span>
      {% for tweet in feed %}
        <dt> Page:
        <dd> {{ tweet['user']['screen_name'] }}
        <dt> Tweet:
        <dd> {{tweet['text'] }}
      {% endfor %}
    {% endif %}
    {% if fb %}
      <span> Facebook feed of pages </span>
      <dt> Facebook
      <dd> {{ fb }}
    {% endif %}
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
