{% extends 'base.html' %}

{% block content %}
<style>
.container {
  width: 99%;
}
</style>
<div ng-controller="EditPageCtrl" ng-init="Init()">
{% if preview %}
<input id="save_page_selectors" type="submit" class="btn save_button" value="Sign up to save this page" disabled/>
{% else %}
<div><a href="/page/{{page.id}}">&larr; Page Overview</a></div>
<input id="save_page_selectors" ng-click="SavePage()" type="submit" class="btn btn-primary save_button" value="Save Page"/>
{% endif %}
<h3>Click on areas of the page you want to track.</h3>
{% if names %}
Currently tracking:
{% for name in names %}{% if not loop.first %}, {% endif %}<strong>{{ name }}</strong>{% endfor %}
{% endif %}

{#
<form id="create_new_page" method="POST">
<input type="hidden" name="url" />
<input type="hidden" name="name" />
<input type="hidden" name="selectors" />
<input type="hidden" name="names" />
</form>
</div>
#}

<script src="/static/js/edit_page.js"></script>  {# must come before iframe #}
<iframe id="proxy_frame" src="/proxy?url={{url}}" width="100%"></iframe>
</div>

<script>
{% if preview %}
var pageid = -1;
var elements = {};
{% else %}
var pageid = {{ page.id|tojson|safe }};
var elements = {{ page.elementsJSON()|tojson|safe }};
{% endif %}

</script>

{% endblock %}


{% block share %}{% endblock %}
