{% extends 'base.html' %}

{% block content %}
<div ng-controller="EditPageCtrl">

<div ng-show="!iframe_visible">

<form class="form-horizontal" ng-submit="LoadIframe()">
  <div class="control-group">
    <label class="control-label" for="page_url">URL to monitor</label>
    <div class="controls">
      <input type="text" id="page_url" ng-model="url" placeholder="http://...">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="page_name">Page Name</label>
    <div class="controls">
      <input type="text" id="page_name" ng-model="name" placeholder="Competitor's Landing Page">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Continue</button>
    </div>
  </div>
</form>

</div>

<div ng-show="iframe_visible">
<div style="height:75px;">
<input id="save_page_selectors" ng-click="SavePage()" type="submit" class="btn" value="Save" style="float:right;"/>
<h1>Click on areas of the page you want to track.</h1>
Currently tracking: <span ng-repeat="(selector, name) in selectors"><span ng-bind="name"></span><span ng-show="!$last">;&nbsp;</span></span>

<form id="create_new_page" action="/page/new" method="POST">
<input type="hidden" name="url" />
<input type="hidden" name="name" />
<input type="hidden" name="selectors" />
<input type="hidden" name="names" />
</form>
</div>

<iframe id="proxy_frame" width="100%"></iframe>
</div>

</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/edit_page.js"></script>
{% endblock %}
