{% extends 'base.html' %}

{% block content %}
<div class="span12 text-center" style="margin-top:10px; margin-bottom:40px;"><h2><strong>Watchtower tracks changes to your competitor’s websites and alerts you to important changes instantly.</strong></h2></div>
<div class="fluid-row calloutblock span12 lead text-center">
Enter any URL to try it now
<p>
<div class="input-append">
  <form onSubmit="window.location.href='/preview?url=' + $('#monitor-url').val(); return false;">
  <input id="monitor-url" class="span6" id="appendedInputButton" type="text">
  <button class="btn" type="submit">Track!</button>
  </form>
</div>
</p>
</div>
<div class="fluid-row">
<div class="span12 text-center" style="padding:20px;">Use watchtower to ...</div>
<div class="span4 text-center normalblock">
<div style="padding:20px;">
<img src="/static/images/compass.png">
<p class="strong-green">Track Product Direction</p> <p>Keep tabs on messaging, features, and A/B testing your competitors are running so you can respond appropriately.</p></div></div>
<div class="span4 text-center normalblock">
<div style="padding:20px;">
<img src="/static/images/eye.png">
<p class="strong-green">Visually Compare Changes</p><p>Compare the old and new versions of your competitors product side by side and see content and designs changes highlighted.</p>
</div>
</div>
<div class="span4 text-center normalblock">
<div style="padding:20px;">
<img src="/static/images/target.png">
<p class="strong-green">Track Unlimited Sites</p><p>Create projects an add an unlimited number of URLs and pages to keep track of. Set the update frequency and how you want us to alert you.
</p>
</div>
</div>
<div class="span12 text-center" style="padding:50px;">“Know thy self, know thy enemy. A thousand battles, a thousand victories.”
- Sun Tzu, The Art of War</div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
