{% extends 'base.html' %}

{% block content %}
  <h2> sign in </h2>
  <p>
  <div class="control-group">
    <form action="{{url_for('login')}}" method=post>
      <dl>
        <dd><input type="text" name=email placeholder="email">
        <dd><input name=password type="password" placeholder="password">
        <dd><input type=submit value=Login/Signup>
      </dl>
    </form>
      {% if error %}
        <p>Error: {{error}}</p>
      {% endif %}
      OpenID:
      <form action="{{url_for('login', openid='https://www.google.com/accounts/o8/id') }}" method=post>
      <button type=submit action="" class=btn>
        <img src=googleimage />test</button>
      <input type=hidden name=next value="{{next}}">
  </form>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
