{% extends 'base.html' %}

{% block content %}
<div class="row span12">
  <form class="form-horizontal" action="/page/new" method="post">
    <div class="control-group">
      <label class="control-label" for="url">URL to monitor</label>
      <div class="controls">
        {% if url %}
        <input class="span5" type="text" name="url" value="{{url}}" placeholder="http://...">
        {% else %}
        <input class="span5" type="text" name="url" placeholder="http://...">
        {% endif %}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">Page Name</label>
      <div class="controls">
        {% if sitename %}
        <input class="span5" type="text" name="name" value="{{sitename}}">
        {% else %}
        <input class="span5" type="text" name="name" placeholder="Competitor's Landing Page">
        {% endif %}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
