{% extends 'base.html' %}

{% block content %}
<div><a href="/">&laquo; Dashboard</a></div>
<h3>Changes for <a href="{{ page.url }}">{{ page.name }}</a></h3>
<p><a href="{{ page.url }}">{{ page.url }}</a></p>
<p>
<i class="icon-edit"></i><a href="/page/{{ page.id }}/edit">edit</a>
&middot;
<i class="icon-remove"></i><a href="/page/{{ page.id }}/delete">delete</a>
</p>
<div>Latest tracked changes&nbsp;<span class="smallred">x new alerts since last visit</span></div>
<br>
<table class="table table-striped" width="95%">
  <thead>
    <tr>
      <th>Tracked Element</th>
      <th>Change Detected</th>
      <th>Change</th>
    </tr>
    <tbody>
      {% for version in versions %}
      <tr>
        <td rowspan={{ version.diff|length }}>{{ version.element.name }}</td>
        <td rowspan={{ version.diff|length }}>{{ version.when }}</td>
        <td>
        <a target="_blank" href="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}" border="0"><img style="height: 400px; width:auto;" src="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}"/></a>
      </td>
        <!--<td>{{ version.diff[0] }}</td>-->
      </tr>
      {% for diff in version.diff %}
      {% if loop.index0 %}
      <tr>
        <td>Change detected in <strong>{{ diff.key }}</strong></td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% for element in unchanged_elements %}
      <tr>
        <td>{{ element.name }}</td>
        <td>N/A</td>
        <td>No Change</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>

{% endblock %}
