{% extends 'base.html' %}

{% block content %}
<div><a href="/">&larr; Dashboard</a></div>
<h3 style="line-height:20px!important">Changes for <a href="{{ page.url }}">{{ page.name }}</a></h3>
<p>Page URL:&nbsp;<a href="{{ page.url }}">{{ page.url }}</a></p>
<p>
<a class="btn" href="/page/{{ page.id }}/edit"><i class="icon-edit"></i> Add or Change Elements</a>
<a class="btn" href="/page/{{ page.id }}/delete"><i class="icon-remove"></i> Delete this Page</a>
</p>
<div style="padding:20px 0"><span class="alert alert-info">{{ page.num_new_changes }} new alerts since last visit</span></div>
<table class="table table-striped" width="95%">
  <thead>
    <tr>
      <th>Tracked Element</th>
      <th>Time</th>
      <th>Change</th>
    </tr>
    <tbody>
      {% for version in versions %}
      <tr data-version-id="{{ version.id}}" data-element-id="{{ version.element.id }}">
        <td rowspan={{ version.diff|length + 1 }}>{{ version.element.name }}</td>
        <td rowspan={{ version.diff|length + 1 }}>{{ version.when.strftime('%Y-%m-%d %H:%M') }}</td>
      {% if version.screenshot %}
        <td>
        <a target="_blank" href="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}" border="0"><img style="height: 400px; width:auto;" src="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}"/></a>
        </td>
      {% else %}
        <td>screenshot is processing.  text diff: {{ version.diff[0] }}</td>
      {% endif %}
      </tr>
      {% for diff in version.diff  %}
      <tr>
        <td>Change in <strong>{{ diff.key }}: {{ diff }}</strong></td>
      </tr>
      {% endfor %}
      {% endfor %}
      {#
      {% for element in unchanged_elements %}
      <tr>
        <td>{{ element.name }}</td>
        <td>N/A</td>
        <td>No Change</td>
      </tr>
      {% endfor %}
      #}
    </tbody>
</table>
</div>
</body>
</html>

{% endblock %}
