{% extends 'base.html' %}

{% block content %}
<div><a href="/dashboard">&larr; Dashboard</a></div>
<h3 style="line-height:20px!important">Changes for <a href="{{ page.url }}">{{ page.name }}</a> <span style="font-size:16px; vertical-align: middle">(<a href="{{ page.url }}">{{ page.url }}</a>)</span></h3>
<p>Currently tracking {{ page.elements|list|length }} elements</p>
<p>
<a class="btn" href="/page/{{ page.id }}/edit"><i class="icon-edit"></i> Add or Change Elements</a>
<a class="btn" href="/page/{{ page.id }}/delete"><i class="icon-remove"></i> Delete this Page</a>
</p>
{#
TODO pending fix: right now this is always 0
<div style="padding:20px 0"><span class="alert alert-info">{{ page.num_new_changes }} new alerts since last visit</span></div>
#}

{% if versions and versions|length > 0 %}
<table class="table table-striped" width="95%">
  <thead>
    <tr>
      <th style="width:100px">Tracking</th>
      <th style="width:200px">Time</th>
      <th>Version Notes</th>
    </tr>
    <tbody>
      {% for version in versions %}
        <tr data-version-id="{{ version.id}}" data-element-id="{{ version.element.id }}">
          <td rowspan={{ version.diff|length + 1 }}>{{ version.element.name }}</td>
          <td rowspan={{ version.diff|length + 1 }}>{{ version.when.strftime('%Y-%m-%d %H:%M') }}</td>
        {% if version.screenshot %}
          <td>
          {% if not loop.last %}
          {% set prev_version = versions[loop.index0 + 1] %}
          <a target="_blank" href="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}" border="0"><img style="height: 400px; width:auto;" src="https://s3.amazonaws.com/watchtower-screenshots/{{ prev_version.screenshot }}"/></a>
          <span style="font-size: 45px">&rarr;</span>
          {% endif %}
          <a target="_blank" href="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}" border="0"><img style="height: 400px; width:auto;" src="https://s3.amazonaws.com/watchtower-screenshots/{{ version.screenshot }}"/></a>
          </td>
        {% else %}
          <td>screenshot is processing.  text diff: {{ version.diff[0] }}</td>
        {% endif %}
        </tr>
        {% for diff in version.diff  %}
          <tr>
            <td>Change in <strong>{{ diff.key }}: {{diff}}</strong></td>
          </tr>
        {% endfor %}
      {% endfor %}

      {#
      {% for element in unchanged_elements %}
      <tr>
        <td>{{ element.name }}</td>
        <td>N/A</td>
        <td>No Change</td>
      </tr>
      {% endfor %}
      #}
    </tbody>
</table>
{% else %}
<h3>No versions detected yet.
{% if page.elements|list|length < 1 %}
  You may want to <a href="/page/{{ page.id }}/edit">add some elements</a> to track.
{% endif %}
</h3>
{% endif %}
</div>
</body>
</html>

{% endblock %}
