{% extends 'base.html' %}

{% block content %}
<!-- content goes here -->
<div class="span12">
	<div class="btn-group">
		<button class="btn">Month-to-Month</button>
		<button class="btn">6 Months (Save 10%)</button>
		<button class="btn">1 Year (Save 25%)</button>
	</div>
<div class="row text-center">
<table class="table">
<thead>
<tr>
<th></th>
<th>Bronze</th>
<th>Silver</th>
<th>Gold<th>
</tr>
</thead>
<tbody>
<tr>
<td>Price</td>
<td><h3>$9</h3><p>per month</p><p><a class="btn btn-primary" href="#">Sign Up</p></td>
<td><h3>$39</h3><p>per month</p><p><a class="btn btn-primary" href="#">Sign Up</p></td>
<td><h3>$99</h3></p>per month</p><p><a class="btn btn-primary" href="#">Sign Up</p></td>
</tr>
<tr>
<td>Sites/URLs Tracked</td>
<td>10</td>
<td><h3>500</h3><p>per month</p></td>
<td><h3>5,000</h3></p>per month</p></td>
</tr>
<tr>
<td>Tracking Scans</td>
<td>24 times per day</td>
<td>48 times per day</td>
<td>72 times per day</td>
</tr>
<tr>
<td>Email Alerts</td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
</tr>
<tr>
<td>Track Style Changes</td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
</tr>
<td>Track Content Changes</td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
</tr>
<td>A/B Test Detection</td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
</tr>
<td>Browser Test Detection</td>
<td></td>
<td><i class="icon-ok"></i></td>
<td><i class="icon-ok"></i></td>
</tr>
<td>Geo/IP Test Detection</td>
<td></td>
<td></td>
<td><i class="icon-ok"></i></td>
</tr>
<td>New vs Returning User Test Detection</td>
<td></td>
<td></td>
<td></td>
</tr>
<td>Customer Service</td>
<td>Email support</td>
<td>Email suport</td>
<td>Account Manager + Priority Support</td>
</tr>
</tbody>
</table>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
