{% extends 'base.html' %}

{% block content %}
<h2> Profile </h2>
    <dl>
      {% if form.name %}
      <dt> Name:
      <dd>{{ form.name }}
      {% endif %}
      <dt> Email:
      <dd>{{ form.email }}
      <input type=hidden name=next value="{{ next }}"/>
    <dl>
    <dl>
      {#
      <form id=twitter_form action="{{ url_for('profile') }}" method="post">
      <input type="text" name=addtweets placeholder="Topic">
      <input type="submit" class="btn" value="Add Topic">
    </form>
    #}
    </dl>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js"></script>
{% endblock %}
